# Chapter 3 숫자
---

## 3.1 불리언
0이 아닌 값은 __True__로 간주한다.

In [5]:
print("bool(True): ", bool(True))
print("bool(1): ", bool(1))
print("bool(45): ", bool(45))
print("bool(-45): ", bool(-45))

bool(True):  True
bool(1):  True
bool(45):  True
bool(-45):  True

0인 값은 __False__로 간주한다.

In [7]:
print("bool(False): ", bool(False))
print("bool(0): ", bool(0))
print("bool(0.0): ", bool(0.0))

bool(False):  False
bool(0):  False
bool(0.0):  False

## 3.2 정수
정수는 모두 숫자로 이루어져 있따. 분수나 소수점이 없다. 정수 앞에 부호가 올 수 있다. 그리고 일반적인 10진수 외 다른 진수로 숫자를 표현할 수도 있다.

### 3.2.1  리터럴 정수
연속된 숫자는 리터럴 정수로 간주하나, 0을 제일 앞에 넣을 수는 없다.

In [9]:
print("5: ", 5)
print("0: ", 0)

5:  5
0:  0

In [10]:
print("05: ", 05)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-10-d670db22df95>, line 1)

양수나 음수를 표현할 때는 숫자 앞에 양수(+) 또는 음수(-)를 넣을 수 있으나, 양수(+)는 가독성을 위해 잘 사용하지 않는다. 또한 정수에 쉼표(,)를 사용할 수 없으며, 첫번째 숫자 이후 모든 위치에 언더바를 사용할 수 있다. 그러나 결과를 출력할 때는 언더바를 무시하게 된다.

In [11]:
print("+123: ", +123)
print("-123: ", -123)

+123:  123
-123:  -123

In [12]:
print("1,000,000: ", 1,000,000)

1,000,000:  1 0 0

In [13]:
print("1_2_3: ", 1_2_3)

1_2_3:  123

### 3.2.2 정수 연산자

In [17]:
# 더하기(+), 빼기(-), 곱하기(*)
# 단, 숫자나 연산자 사이 공백은 무시된다.
print("5+9: ", 5+9)
print("100-7: ", 100-7)
print("4-10: ", 4-7)
print("5+9+3: ", 5+9+3)
print("4+3-2-1+6: ", 4+3-2-1+6)
print("5 + 9   +   3: ", 5 + 9   +   3)
print("6*7: ", 6*7)
print("7*6: ", 7*6)
print("6*7*2*3: ", 6*7*2*3)

5+9:  14
100-7:  93
4-10:  -3
5+9+3:  17
4+3-2-1+6:  10
5 + 9   +   3:  17
6*7:  42
7*6:  42
6*7*2*3:  252

나눗셈은 다음 두 가지 방법이 있다.
* /는 __부동소수점__을 표함한 결과가 출력된다.
* //는 부동소수점을 제외한 결과, 즉 __정수__가 출력된다.

다른 언어와는 다르게, 정수를 정수로 나누더라도 /로 나누면 부동소수점 결과가 나온다.

In [19]:
print("9/5: ", 9/5)
print("9//5: ", 9//5)

9/5:  1.8
9//5:  1

In [20]:
# 0으로 나누면 예외가 발생한다.
print("5/0: ", 5/0)

ZeroDivisionError: division by zero

In [35]:
# 나머지(%) 연산
print("9%5: ", 9%5)

9%5:  4

In [39]:
# 소수점을 제외한 몫과 나머지를 동시에 얻는 방법
print("9//5 (몫):", 9//5)
print("9%5 (나머지):", 9%5)
print("divmod(9,5):", divmod(9,5))

9//5 (몫): 1
9%5 (나머지): 4
divmod(9,5): (1, 4)

In [40]:
# 거듭제곱(**)
# 정수와 부동소수점을 사용할 수 있다.
print("2**3: ", 2**3)
print("2.0**3: ", 2.0**3)
print("2**3.0: ", 2**3.0)
print("0**3: ", 0**3)

2**3:  8
2.0**3:  8.0
2**3.0:  8.0
0**3:  0

### 3.2.3 정수와 변수

In [26]:
a = 95
print("a: ", a)

a:  95

In [27]:
print("a-3: ", a-3)
print("a:", a)

a = a - 3
print("a=a-3: ", a)
print("a: ", a)

a-3:  92
a: 95
a=a-3:  92
a:  92

In [28]:
a = 95
temp = a - 3
a = temp
print("a: ", a)

a:  92

In [33]:
a = 95
print("a: ", a)
a -= 3
print("a-=3: ", a)
a += 8
print("a+=8: ", a)
a *= 2
print("a*=2: ", a)
a /= 3
print("a/=3: ", a)

a:  95
a-=3:  92
a+=8:  100
a*=2:  200
a/=3:  66.66666666666667

In [34]:
a = 95
print("a: ", a)
a //= 4
print("a//=4: ", a)

a:  95
a//=4:  23

### 3.2.4 연산순서
수학과 마찬가지로 연산 우선순위에 따른 연산순서가 정의되어 있지만, 가독성 등을 위해 먼저 수행하고자 하는 계산식에 괄호를 사용한다.

In [42]:
# 2 + 3 * 4
print("2 + 3 * 4: ", 2 + 3 * 4)
print("2 + (3 * 4): ", 2 + (3 * 4))
print("(2 + 3) * 4: ", (2 + 3) * 4)
print("-5 ** 2:", -5 ** 2)
print("-(5 ** 2):", -(5 ** 2))
print("(-5) ** 2):", (-5) ** 2)

2 + 3 * 4:  14
2 + (3 * 4):  14
(2 + 3) * 4:  20
-5 ** 2: -25
-(5 ** 2): -25
(-5) ** 2): 25

### 3.2.5 진수
파이썬에서는 일반적으로 사용하는 10진수 외에 세 가지 리터럴 정수를 표현할 수 있다.
* __2진수(binary)__: 0b 혹은 0B
* __8진수(octal)__: 0o 혹은 0O
* __16진수(hex)__: 0x 혹은 0X

In [44]:
# 각 진수를 10진수로 표현
print("(10진수) 10: ", 10)
print("(2진수) 0b10: ", 0b10)
print("(8진수) 0o10: ", 0o10)
print("(16진수) 0x10: ", 0x10)

(10진수) 10:  10
(2진수) 0b10:  2
(8진수) 0o10:  8
(16진수) 0x10:  16

In [45]:
# 10진수를 다른 진수로 표현
value = 65
print("(10진수) value: ", value)
print("(2진수) value: ", bin(value))
print("(8진수) value: ", oct(value))
print("(16진수) value: ", hex(value))

(10진수) value:  65
(2진수) value:  0b1000001
(8진수) value:  0o101
(16진수) value:  0x41

In [47]:
# chr() 함수는 정수를 단일 문자열로, ord() 함수는 단일 문자열을 정수로 반환
print("chr(65): ", chr(65))
print("ord('A'): ", ord('A'))

chr(65):  A
ord('A'):  65

### 3.2.6 타입 변환
다른 데이터 타입을 정수 타입으로 변환하려면 int() 함수를, True와 False 값으로 변환하려면 bool()함수를 사용할 수 있다.

In [48]:
# boolean 값을 정수형 값으로 변환
print("int(True): ", int(True))
print("int(False): ", int(False))

int(True):  1
int(False):  0

In [49]:
# 정수형 값을 boolean 값으로 변환
print("bool(1): ", bool(1))
print("bool(0): ", bool(0))

bool(1):  True
bool(0):  False

In [50]:
# 부동소수점 숫자를 정수형 값으로 변환
print("int(98.6): ", int(98.6))
print("int(1.0e4): ", int(1.0e4))

int(98.6):  98
int(1.0e4):  10000

In [51]:
# 부동소수점 숫자를 boolean 값으로 변환
print("bool(1.0): ", bool(1.0))
print("bool(0.0): ", bool(0.0))

bool(1.0):  True
bool(0.0):  False

In [52]:
# 숫자 구분 기호(_), 덧셈/뺄셈 기호, 숫자로 이루어진 텍스트 문자열을 정수로 변환
print("int('99'): ", int('99'))
print("int('-23'): ", int('-23'))
print("int('+12'): ", int('+12'))
print("int('1_000_000'): ", int('1_000_000'))

int('99'):  99
int('-23'):  -23
int('+12'):  12
int('1_000_000'):  1000000

In [53]:
# 숫자가 아닌 다른 뭔가를 변환하면 예외가 발생
print("int('99 bottles of beer on the wall')", int('99 bottles of beer on the wall'))

ValueError: invalid literal for int() with base 10: '99 bottles of beer on the wall'

In [54]:
# 부동소수점 또는 숫자로 이루어진 문자열을 정수로 변환하려 하면 예외가 발생
print("int('98.6'): ", int('98.6'))

ValueError: invalid literal for int() with base 10: '98.6'

In [55]:
# 숫자 타입을 섞어서 사용하면 자동으로 타입 변환을 한다.
print("4 + 7.0:", 4+7.0)
print("True + 2: ", True+2)
print("False + 5.0: ", False+5.0)

4 + 7.0: 11.0
True + 2:  3
False + 5.0:  5.0

### 3.2.7 int의 크기
파이썬2에서는 CPU에 따라 32비트나 64비트로 제한되었고, 더 큰 수를 저장하기 위해서는 long이라는 타입을 사용해야 했었다.
그러나, 파이썬3에서는 long이 사라지고 int의 크기가 유연해져 64비트 이상의 크기도 지원된다.

## 3.3 부동소수점 숫자
정수는 숫자만으로 구성되어 있지만, __부동소수점 숫자__는 소수점이 있다.

In [56]:
print("5.: ", 5.)
print("5.0: ", 5.0)
print("05.0: ", 05.0)

5.:  5.0
5.0:  5.0
05.0:  5.0

In [57]:
# 문자 e와 정수인 지수를 포함할 수 있다.
print("5e0: ", 5e0)
print("5e1: ", 5e1)
print("5.0e1: ", 5.0e1)
print("5.0 * (10 ** 1): ", 5.0 * (10 ** 1))

5e0:  5.0
5e1:  50.0
5.0e1:  50.0
5.0 * (10 ** 1):  50.0

In [61]:
# 명확성을 위해 언더바(_)를 사용해서 숫자를 구분할 수 있다.
print("1_000_000.0: ", 1_000_000.0)
print("1.0_0_1: ", 1.0_0_1)

1_000_000.0:  1000000.0
1.0_0_1:  1.001

In [62]:
# 부동소수점 타입으로의 변환
print("float(True): ", float(True))
print("float(False): ", float(False))
print("float(98): ", float(98))
print("float('98.6'): ", float('98.6'))
print("float('-1.5'): ", float('-1.5'))
print("float('1.0e4'): ", float('1.0e4'))

float(True):  1.0
float(False):  0.0
float(98):  98.0
float('98.6'):  98.6
float('-1.5'):  -1.5
float('1.0e4'):  10000.0

In [63]:
# boolean 타입도 정수 또는 부동소수점 타입으로 변환
print("False + 0: ", False + 0)
print("False + 0.: ", False + 0.)
print("True + 0: ", True + 0)
print("True + 0,: ", True + 0.)

False + 0:  0
False + 0.:  0.0
True + 0:  1
True + 0,:  1.0

## 3.4 수학함수
## 3.5 다음 장에서는

## 3.6 연습문제

* 1시간은 몇 초인가?
* 계산한 결과를 seconds_per_hour 변수에 저장해보자.

In [67]:
hour = 1
minutes_per_hour = hour * 60
seconds_per_hour = minutes_per_hour * 60
print("seconds per hour: ", seconds_per_hour)

seconds per hour:  3600

* 1일은 몇 초인가? seconds_per_hour를 이용해 계산해보자.
* 계산한 결과를 secons_per_day 변수에 저장해보자.

In [69]:
hours_per_day = hour * 24
minutes_per_day = hours_per_day * 60
seconds_per_day = minutes_per_day * 60
print("seconds per day: ", seconds_per_day)

seconds per day:  86400

* 부동소수점 나눗셈(/)을 사용해서 seconds_per_day를 seconds_per_hour로 나누어보자.
* 정수 나눗셈(//)을 사용해서 seconds_per_day를 seconds_per_hour로 나누어보자.

In [70]:
print("seconds_per_day / seconds_per_hour: ", seconds_per_day / seconds_per_hour)
print("seconds_per_day // seconds_per_hour: ", seconds_per_day // seconds_per_hour)

seconds_per_day / seconds_per_hour:  24.0
seconds_per_day // seconds_per_hour:  24